body {
    background-color: #FFC4DD;
    margin: 0%;
    padding: 0%;
    font-family: monospace;
}

a:hover {
    color: lightgreen;
}

#pig {
    text-align: center;
}

#pigh1 {
    font-size: 2vw;
    font-family: monospace;
    margin-bottom: 5%;
}

#comment {
    font-size: 0.8vw;
}

#nextb {
    text-align: end;
    padding-top: 10%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    font-family: monospace;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #111111;
    color: white;
}

#next {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8vw;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 0.5vw vw;
    position: relative;
}

#next:hover,
#next:focus {
  background-color: #F082AC;
}