body {
    background-color: #FFC4DD;
}

#pig {
    text-align: center;
}

#pigh1 {
    font-size: 30px;
    font-family: monospace;
    margin-bottom: 5%;
}

#nextb {
    text-align: right;
    padding-top: 100px;
}