body{
    background-image: url(../img/ghost.jpg);
    background-size: cover;
    background-size: 100%;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    font-family: monospace;
    position: fixed;
    width: 100%;
    top: 0;
  }
  
li {
    float: left;
  }

#form {
    float: right;
}

#second {
    background-color: #111111;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #111111;
    color: white;
}

h1{
    font-family: monospace; 
    color: aliceblue;
}

#send_b {
    text-align: end;
}

#youtube {
    text-align: center;
}

@media screen and (max-width: 800px) {
    body {
        background-size: 200%;
    }

    .title {
        font-size: 50%;
    }
}