body {
    background-color: #FFC4DD;
    margin: 0%;
    padding: 0%;
}

a:hover {
    color: lightgreen;
}

#pig {
    text-align: center;
}

#pigh1 {
    font-size: 30px;
    font-family: monospace;
    margin-bottom: 5%;
}

#nextb {
    text-align: end;
    padding-top: 10%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    font-family: monospace;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #111111;
    color: white;
}